<%- include('./partials/header.ejs') %>

	<body>
		<%- include('./partials/pages.ejs') %>
		<div id="bigimage"></div>
		<button id="createButton"><a href="./create.ejs">Create Recipe</a></button>
			<div class="search">
				<h3>Common Ingredients</h3>
				<form action="/" method="POST">
					<% if (uniqueIngredients.length > 0) { %>
						<% const columnsCount = 7 %>
						<% if (!uniqueIngredients.length % columnsCount === 0) { %>
							<% uniqueIngredientsLength = uniqueIngredients.length %>
							<% totalElements = uniqueIngredients.length + columnsCount - (uniqueIngredients.length % columnsCount) %>
						<% } %>
						<% for (var index = 0; index < uniqueIngredients.length; index += columnsCount) { %>
							<table class="checkboxes">
								<tr>
									<th>
										<label class="checkbox-labels" id="ingredient-<%= index %>"><%= uniqueIngredients[index] %></label><br>
										<input type="checkbox" id="ingredient-<%= index %>-checkbox" name="ingredient<%= index %>" value="<%= uniqueIngredients[index] %>">
									</th>
									<th>
										<label class="checkbox-labels" id="ingredient-<%= index + 1 %>"><%= uniqueIngredients[index + 1] %></label><br>
										<input type="checkbox" id="ingredient-<%= index + 1 %>-checkbox" name="ingredient<%= index + 1 %>" value="<%= uniqueIngredients[index + 1] %>">
									</th>
									<th>
										<label class="checkbox-labels" id="ingredient-<%= index + 2 %>"><%= uniqueIngredients[index + 2] %></label><br>
										<input type="checkbox" id="ingredient-<%= index + 2 %>-checkbox" name="ingredient<%= index + 2 %>" value="<%= uniqueIngredients[index + 2] %>">
									</th>
									<th>
										<label class="checkbox-labels" id="ingredient-<%= index + 3 %>"><%= uniqueIngredients[index + 3] %></label><br>
										<input type="checkbox" id="ingredient-<%= index + 3 %>-checkbox" name="ingredient<%= index + 3 %>" value="<%= uniqueIngredients[index + 3] %>">
									</th>
									<th>
										<label class="checkbox-labels" id="ingredient-<%= index + 4 %>"><%= uniqueIngredients[index + 4] %></label><br>
										<input type="checkbox" id="ingredient-<%= index + 4 %>-checkbox" name="ingredient<%= index + 4 %>" value="<%= uniqueIngredients[index + 4] %>">
									</th>
									<th>
										<label class="checkbox-labels" id="ingredient-<%= index + 5 %>"><%= uniqueIngredients[index + 5] %></label><br>
										<input type="checkbox" id="ingredient-<%= index + 5 %>-checkbox" name="ingredient<%= index + 5 %>" value="<%= uniqueIngredients[index + 5] %>">
									</th>
									<th>
										<label class="checkbox-labels" id="ingredient-<%= index + 6 %>"><%= uniqueIngredients[index + 6] %></label><br>
										<input type="checkbox" id="ingredient-<%= index + 6 %>-checkbox" name="ingredient<%= index + 6 %>" value="<%= uniqueIngredients[index + 6] %>">
									</th>
								</tr>
							</table>
						<% } %>
					<% } else { %>
					<p>There are no ingredients to display...</p>
					<% } %>
					<div class="filler"></div>
					<button id="searchButton">Search</button>
				</form>
    <% if (recipes.length > 0) { %>
    <% recipes.forEach((recipe, index) => { %>
    <div class="accordion-item-<%= index %> ">
		<h2 class="accordion-header" id="flush-headingOne">
			<button class="accordion-button collapsed-<%= index %>" type="button" data-bs-toggle="collapse"
			data-bs-target="#recipe-<%= index %>" style="background-color:<%= recipeContains[index].recipeColor %>">
			<h3 class="name"><%= recipe.name %></h3>
			<% if (!isNaN(recipeContains[index].matchPercentage * 100)) { %>
				<h3 class="percentage"><%= (`${Math.round(recipeContains[index].matchPercentage * 100)}%`) %> </h3>
			<% } %>
		</button>
	</h2>
      <div id="recipe-<%= index %>" class="accordion-collapse collapse" data-bs-parent="#recipes" >
        <div class="accordion-body">
			<p class="author">Author: <%= recipe.author %></p>
			<p class="description">Description: <%= recipe.description %></p>
			<p class="dishType">Dish Type: <%= recipe.dishType %></p>
			<p class="difficulty">Difficulty: <%= recipe.difficulty %></p>
			<p class="instructions">Instructions: <%= recipe.instructions %></p>
			<p>Ingredients:</p>
			<ul class="ingredients-<%= index %>">
				<% for (let i = 0; i < recipe.ingredients.length; i++) { %>
					<li class="ingredient-<%= i %>"><%= recipe.ingredients[i] %></li>
				<% } %>
			
			</ul>
        </div>
      </div>
    </div>
    <% }) %>
    <% } else { %>
    <p>There are no recipes to display...</p>
    <% } %>
  </div>
	
</body>
<script> 
uniqueIngredientsLength = <%= uniqueIngredientsLength %>;
totalElements = <%= totalElements %>;
for (let i = uniqueIngredientsLength; i < totalElements; i++) {
	document.getElementById(`ingredient-${i}`).style.display = "none";
	document.getElementById(`ingredient-${i}-checkbox`).style.display = "none";
}
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>