<%- include('./partials/header.ejs') %>

<body>
  <%- include('./partials/pages.ejs') %>
    <div class="profile">
        <script>

            const User = require('./models/User');
        
        </script>
        <h2>Welcome, User</h2>
        
        <h3>My Recipes</h3>
        <% recipes.forEach((recipe, index) => { %>
        <div class="recipe">
            <div class="profileName">Recipe Name:<%= recipe.name %></div>
            <div class="author">Author:<%= recipe.author %></div>
            <div class="description">Description:<%= recipe.description %></div>
            <div class="dishType">Dish Type:<%= recipe.dishType %></div>
            <div class="difficulty">Difficulty:<%= recipe.difficulty %></div>
            <div class="Instructions`">Instructions:<%= recipe.instructions %></div>
			<p>Ingredients:</p>
			<ul class="ingredients-<%= index %>">
				<% for (let i = 0; i < recipe.ingredients.length; i++) { %>
					<li class="ingredient-<%= i %>"><%= recipe.ingredients[i] %></li>
				<% } %>
			</ul>
            <a class="updateButton" id="update-<%= recipe.name %>"href="./update/<%= recipe._id %>">Update</a>
            <a class="deleteButton" id="delete-<%= recipe.name %>" href="./delete/<%= recipe._id %>">Delete</a>

        </div>
    <% }) %>
    </div>
</body>

</html>